
.calc_popover_menu_box {
  margin: 10px;
}

.calc_popover_menu_spin_button {
  margin-left: 10px;
}

.calc_popover_menu_separator {
  margin-top: 5px;
  margin-bottom: 5px;
}

.calc_face_entry {
  color: #000000;
  background-color: #cfefc0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  background-clip: padding-box;
}

.calc_face_button {
  font-size: large;
}
